/*Colours and fonts*/
/*SASS mixins*/
/*HTML reset*/
html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: "Arsenal", sans-serif;
  scroll-behavior: smooth; }

/* Navbar settings */
.header-outer-container {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 4rem;
  padding-right: 4rem;
  height: 60px; }

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%; }
  .nav-container div a {
    transition: color 0.4s ease;
    position: relative; }
  .nav-container div a::before {
    transform: scaleX(0);
    transform-origin: bottom right; }
  .nav-container div a:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left; }
  .nav-container div a::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    inset: 0 0 0 0;
    background: #93CAED;
    z-index: -1;
    transition: transform .4s ease; }
  .nav-container div a {
    padding: .5rem .7rem;
    text-decoration: none;
    position: relative;
    font-size: 1.2rem;
    color: #969696; }
  .nav-container div a:visited {
    color: #969696; }
  .nav-container div a:hover {
    color: white; }

#name-logo {
  font-family: 'Covered By Your Grace', cursive;
  font-size: 2.5rem;
  padding: 2px 10px;
  text-decoration: none;
  transition: .5s;
  color: #969696; }

#name-logo:visited {
  color: #969696; }

#name-logo:hover {
  color: #93CAED;
  transform: scale(1.2); }

/* Settings for landing headings */
#landing-full {
  display: flex;
  height: 100vh;
  position: relative; }
  #landing-full #landing-left {
    height: 100vh;
    width: 40vw;
    background-color: white;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
    padding-right: 3rem; }
    #landing-full #landing-left #links-title-container #landing-links {
      display: flex;
      flex-direction: column;
      padding-bottom: 5rem; }
      #landing-full #landing-left #links-title-container #landing-links a {
        transition: color 0.4s ease;
        position: relative; }
      #landing-full #landing-left #links-title-container #landing-links a::before {
        transform: scaleX(0);
        transform-origin: bottom right; }
      #landing-full #landing-left #links-title-container #landing-links a:hover::before {
        transform: scaleX(1);
        transform-origin: bottom left; }
      #landing-full #landing-left #links-title-container #landing-links a::before {
        content: " ";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        inset: 0 0 0 0;
        background: #93CAED;
        z-index: -1;
        transition: transform .4s ease; }
      #landing-full #landing-left #links-title-container #landing-links a {
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-decoration: none;
        font-size: 1.5rem;
        z-index: 1;
        padding-left: 3rem;
        color: #969696;
        font-family: "Arsenal", sans-serif; }
      #landing-full #landing-left #links-title-container #landing-links a:visited {
        color: #969696; }
      #landing-full #landing-left #links-title-container #landing-links a:hover {
        color: white; }
    #landing-full #landing-left h2 {
      font-size: 1.2rem;
      color: #c8c8c8;
      margin-top: 0;
      margin-bottom: 0; }
  #landing-full #landing-right {
    height: 100vh;
    width: 70vw;
    background-image: url("../resources/img/wave.jpg");
    background-size: cover;
    background-position: center; }
    #landing-full #landing-right div {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      align-items: flex-start;
      padding-top: 7rem; }
      #landing-full #landing-right div h1 {
        font-size: 13rem;
        margin: 0;
        color: #93CAED;
        font-weight: 400;
        font-family: 'Covered By Your Grace', cursive;
        margin-top: -5rem; }

#contact-me {
  text-decoration: none;
  color: #93CAED;
  padding: 0; }

#portrait-container {
  display: flex;
  position: relative;
  width: 100%;
  height: 20rem;
  justify-content: flex-end;
  align-items: center; }

#icon-cover {
  width: 200px;
  height: 200px;
  background-image: url("../resources/img/Justin-square.jpg");
  background-position: center;
  background-size: 200px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px white;
  overflow: hidden; }

/*Index - About me styling*/
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 4rem;
  padding-right: 4rem; }
  .container h1 {
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
    font-size: 2.5rem; }
  .container p {
    padding: 3rem 6rem;
    font-size: 1.5rem;
    text-align: center;
    color: #969696;
    padding-top: 6rem;
    padding-bottom: 6rem; }
  .container section {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    justify-content: center;
    margin: auto auto; }
    .container section a {
      width: 15rem;
      height: 15rem;
      overflow: hidden;
      padding: 1rem; }
      .container section a img {
        width: 15rem;
        height: 15rem;
        object-fit: cover; }
    .container section span {
      padding: 3rem 6rem;
      font-size: 1.5rem;
      text-align: center;
      color: #969696;
      padding-top: 7rem;
      padding-bottom: 2rem; }

/*Recent Projects styling*/
.projects-posts {
  padding-left: 0;
  border-bottom: 1px solid #c8c8c8; }
  .projects-posts li {
    display: flex;
    list-style: none;
    height: 15rem;
    padding-bottom: 3rem;
    padding-top: 3rem;
    border-top: 1px solid #c8c8c8; }
    .projects-posts li time {
      font-size: 1.5rem;
      color: #93CAED;
      min-width: 3rem; }
    .projects-posts li div {
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .projects-posts li div h4 {
        font-size: 1.5rem;
        padding: 0 1rem 1rem 1rem;
        margin: 0;
        color: #969696; }
      .projects-posts li div p {
        font-family: "Arsenal", sans-serif;
        font-size: 1rem;
        margin: 0;
        text-align: left;
        padding-top: 0;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 0;
        flex-grow: 2; }
      .projects-posts li div a {
        transition: color 0.4s ease;
        position: relative; }
      .projects-posts li div a::before {
        transform: scaleX(0);
        transform-origin: bottom right; }
      .projects-posts li div a:hover::before {
        transform: scaleX(1);
        transform-origin: bottom left; }
      .projects-posts li div a::before {
        content: " ";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        inset: 0 0 0 0;
        background: #93CAED;
        z-index: -1;
        transition: transform .4s ease; }
      .projects-posts li div a {
        margin-left: .5rem;
        margin-right: auto;
        padding: .5rem;
        text-decoration: none;
        color: #969696; }
      .projects-posts li div a:visited {
        color: #969696; }
      .projects-posts li div a:hover {
        color: white; }
    .projects-posts li img {
      float: right;
      min-width: 240px;
      height: 240px;
      object-fit: cover; }

/* Blog posts styling */
.blog-posts {
  padding-left: 0;
  border-bottom: 1px solid #c8c8c8; }
  .blog-posts li {
    display: flex;
    list-style: none;
    max-height: 30rem;
    padding-bottom: 3rem;
    border-top: 1px solid #c8c8c8; }
    .blog-posts li time {
      font-size: 1.5rem;
      color: #93CAED;
      min-width: 3rem;
      padding: 3rem 0 1rem 0; }
    .blog-posts li div {
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .blog-posts li div h4 {
        font-size: 1.5rem;
        padding: 0 1rem 1rem 1rem;
        margin: 0;
        color: #969696;
        padding-left: 0; }
      .blog-posts li div p {
        font-family: "Arsenal", sans-serif;
        font-size: 1rem;
        margin: 0;
        text-align: left;
        padding-top: 0;
        padding-left: 0;
        padding-right: 1rem;
        padding-bottom: 0;
        flex-grow: 2; }
      .blog-posts li div a {
        transition: color 0.4s ease;
        position: relative; }
      .blog-posts li div a::before {
        transform: scaleX(0);
        transform-origin: bottom right; }
      .blog-posts li div a:hover::before {
        transform: scaleX(1);
        transform-origin: bottom left; }
      .blog-posts li div a::before {
        content: " ";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        inset: 0 0 0 0;
        background: #93CAED;
        z-index: -1;
        transition: transform .4s ease; }
      .blog-posts li div a {
        margin-right: auto;
        padding: .5rem 0;
        text-decoration: none;
        color: #969696; }
      .blog-posts li div a:visited {
        color: #969696; }
      .blog-posts li div a:hover {
        color: white; }
    .blog-posts li img {
      float: right;
      min-width: 240px;
      height: 240px;
      object-fit: cover;
      padding-top: 1rem; }

.read-more-container a {
  transition: color 0.4s ease;
  position: relative; }
.read-more-container a::before {
  transform: scaleX(0);
  transform-origin: bottom right; }
.read-more-container a:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left; }
.read-more-container a::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background: #93CAED;
  z-index: -1;
  transition: transform .4s ease; }
.read-more-container #read-more-tag {
  position: relative;
  color: #969696; }

#read-more-tag {
  font-size: 1.5rem;
  text-decoration: none; }

#read-more-tag:visited {
  color: #969696; }

#read-more-tag:hover {
  color: white; }

/* Contact page styling */
.contact-details-container form {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .contact-details-container form input {
    font-family: "Arsenal", sans-serif;
    font-size: 1rem;
    margin: 0;
    text-align: left;
    width: 20rem;
    margin-bottom: 1rem;
    padding: .5rem;
    border-radius: 10px;
    border: 1px solid #c8c8c8; }
  .contact-details-container form textarea {
    font-family: "Arsenal", sans-serif;
    font-size: 1rem;
    margin: 0;
    text-align: left;
    width: 20rem;
    padding: .5rem;
    resize: none;
    border-radius: 10px;
    border: 1px solid #c8c8c8; }
  .contact-details-container form .button {
    text-align: center;
    margin-top: 1rem;
    width: 10rem;
    transition: .5s; }
  .contact-details-container form .button:hover {
    background-color: #93CAED;
    color: white;
    cursor: pointer;
    border-color: white; }

.icon-container {
  display: flex;
  justify-content: space-between;
  width: 20rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3rem; }
  .icon-container a i {
    color: #969696;
    transition: 0.5s; }
  .icon-container a i:hover {
    color: #93CAED; }

/*Media Breakpoints*/
@media (max-width: 1200px) {
  .container section {
    width: 800px; } }
@media (max-width: 1024px) {
  .container section {
    width: 600px; }
    .container section span {
      padding: 3rem 2rem 0 2rem; }
      .container section span a {
        padding: 0; }

  #icon-cover {
    top: 15%;
    right: 20%; }

  .projects-posts li {
    flex-direction: column;
    height: 32rem; }
    .projects-posts li div h4 {
      padding-left: 0;
      padding-top: 1rem; }
    .projects-posts li div p {
      padding-left: 0; }
    .projects-posts li div a {
      padding-left: 0;
      margin-left: 0;
      margin-top: 1rem;
      margin-bottom: 1rem; }

  .blog-posts li {
    max-height: 35rem; }
    .blog-posts li div p {
      padding-right: 0; }
    .blog-posts li div a {
      margin-top: 1rem; }
    .blog-posts li img {
      width: 100%; }

  #landing-full #landing-left {
    width: 30vw;
    padding-right: 1rem; }
  #landing-full #landing-right {
    width: 70vw; }
    #landing-full #landing-right div {
      padding-top: 0; }
      #landing-full #landing-right div h1 {
        font-size: 11rem; } }
@media (max-width: 700px) {
  .header-outer-container {
    padding-left: 2rem;
    padding-right: 2rem; }

  .nav-container a {
    font-size: 1rem; }

  #landing-full #landing-left {
    width: 30vw; }
    #landing-full #landing-left #links-title-container #landing-links a {
      font-size: 1.2rem; }
    #landing-full #landing-left h2 {
      font-size: 1.2rem; }
  #landing-full #landing-right {
    width: 70vw; }
    #landing-full #landing-right div {
      padding-top: 2rem; }
      #landing-full #landing-right div h1 {
        font-size: 6rem;
        padding-top: 2rem; }

  #portrait-container {
    width: 200px;
    padding-left: 20px; }

  .container {
    padding-left: 2rem;
    padding-right: 2rem; }
    .container section {
      width: 300px; }
      .container section span {
        padding: 3rem 2rem 0 2rem; }
        .container section span a {
          padding: 0; }
    .container p {
      padding: 3rem 1rem;
      font-size: 1.2rem; }

  .projects-posts li {
    flex-direction: column;
    height: 32rem; }
    .projects-posts li div h4 {
      padding-left: 0;
      padding-top: 1rem; }
    .projects-posts li div p {
      padding-left: 0; }
    .projects-posts li div a {
      padding-left: 0;
      margin-left: 0;
      padding-top: 1rem;
      padding-bottom: 1rem; }

  .blog-posts li {
    max-height: 35rem; }
    .blog-posts li div p {
      padding-right: 0; }
    .blog-posts li div a {
      padding-top: 1rem; }
    .blog-posts li img {
      width: 100%; } }
/*Copyright footer styling*/
.copyright-footer {
  margin-top: 5rem;
  text-align: center;
  color: #c8c8c8; }

/*# sourceMappingURL=styles.css.map */
