/*Colours and fonts*/

$light-gray-color: rgb(200, 200, 200);
$dark-gray-color: rgb(150, 150, 150);
$white-color: white;
$primary-color: #93CAED;
$secondary-color: #EDB693;
$primary-font: 'Arsenal', sans-serif;

/*SASS mixins*/

@mixin content-sizes {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 4rem;
    padding-right: 4rem;
}

@mixin large-paragraph-text {
    padding: 3rem 6rem;
    font-size: 1.5rem;
    text-align: center;
    color: $dark-gray-color;
}

@mixin paragraph-text {
    font-family: $primary-font;
    font-size: 1rem;
    margin: 0;
    text-align: left;
}

@mixin page-title {
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
    font-size: 2.5rem;
}

@mixin sub-title {
    font-size: 1.5rem;
    padding: 0 1rem 1rem 1rem;
    margin: 0;
    color: $dark-gray-color;
}

@mixin background-swipe {
    a {
        transition: color 0.4s ease;
        position: relative;
    }
    a::before {
        transform: scaleX(0);
        transform-origin: bottom right;
    }
    a:hover::before {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
    a::before {
        content: " ";
        display: block;
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        inset: 0 0 0 0;
        background: $primary-color;
        z-index: -1;
        transition: transform .4s ease;
    }
}

/*HTML reset*/

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    font-family: $primary-font;
    scroll-behavior: smooth;
}

/* Navbar settings */

.header-outer-container {
    @include content-sizes();
    height: 60px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    div {
        @include background-swipe();
        a {
            padding: .5rem .7rem;
            text-decoration: none;
            position: relative;
            font-size: 1.2rem;
        }
        a:visited {
            color: $dark-gray-color;
        }            
        a:hover {
            color: $white-color;
        }
    }


}

#name-logo {
    font-family: 'Covered By Your Grace', cursive;
    font-size: 2.5rem;
    padding: 2px 10px;
    text-decoration: none;
    transition: .5s;
}

#name-logo:visited {
    color: $dark-gray-color;
}

#name-logo:hover {
    color: $primary-color;
    transform: scale(1.2);
}


/* Settings for landing headings */

#landing-full {
    display: flex;
    height: 100vh;
    #landing-left {
        height: 100vh;
        width: 30vw;
        background-color: $white-color;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        h1 {
            font-size: 7rem;
            margin: 0;
            margin-right: 1rem;
            color: $light-gray-color;
            font-weight: 400;
            font-family: 'Covered By Your Grace', cursive;
            margin-top: -2rem;
        }
    }
    #landing-right {
        height: 100vh;
        width: 70vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-image: url("../resources/img/wave.jpg");
        background-size: cover;
        background-position: center;
        h2 {
            font-size: 1.6rem;
            margin: 0;
            padding-top: 20rem;
            color: $dark-gray-color;
        }
        #landing-links{
            display: flex;
            flex-direction: column;
            padding-top: 1rem;
            @include background-swipe();
            a {
                margin-top: 1rem;
                padding-bottom: .25rem;
                text-decoration: none;
                font-size: 1.2rem;
                z-index: 1;
                padding-right: 1rem;
            }
            a:visited {
                color: $dark-gray-color;
            }
            a:hover {
                color: $white-color;
            }
        }
    }
}

#contact-me {
    text-decoration: none;
    color: $primary-color;
    padding: 0;
}

/*Index - About me styling*/

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include content-sizes();
    h1 {
        @include page-title();
    }
    p {        
        @include large-paragraph-text();
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
    section {
        display: flex;
        flex-wrap: wrap;
        width: 1000px;
        justify-content: center;
        margin: auto auto;
        a {
            width: 15rem;
            height: 15rem;
            overflow: hidden;
            padding: 1rem;
            img {
                width: 15rem;
                height: 15rem;
                object-fit: cover;
            }
        }
        span {
                @include large-paragraph-text();
                padding-top: 7rem;
                padding-bottom: 2rem;
        }
    }
}

/*Recent Projects styling*/

.projects-posts {
    padding-left: 0;
    border-bottom: 1px solid $light-gray-color;
    li{
        display: flex;
        list-style: none;
        height: 15rem;
        padding-bottom: 3rem;
        padding-top: 3rem;
        border-top: 1px solid $light-gray-color;
        time {
            font-size: 1.5rem;
            color: $primary-color;
            min-width: 3rem;
        }
        div {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h4 {
                @include sub-title();
            }
            p {
                @include paragraph-text();
                padding-top: 0;
                padding-left: 1rem;
                padding-right: 1rem;
                padding-bottom: 0;
                flex-grow: 2;
            }
            @include background-swipe();
            a {
                margin-left: .5rem;
                margin-right: auto;
                padding: .5rem;
                text-decoration: none;
                color: $dark-gray-color;
            }
            a:visited {
                color: $dark-gray-color;
            }
            a:hover {
                color: $white-color;
            }
        }
        img {
            float: right;
            min-width: 240px;
            height: 240px;
            object-fit: cover;
        }
    }
}

/* Blog posts styling */

.blog-posts {
    padding-left: 0;
    border-bottom: 1px solid $light-gray-color;
    li{
        display: flex;
        list-style: none;
            max-height: 30rem;
        padding-bottom: 3rem;
        border-top: 1px solid $light-gray-color;
        time {
            font-size: 1.5rem;
            color: $primary-color;
            min-width: 3rem;
            padding: 3rem 0 1rem 0;
        }
        div {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h4 {
                @include sub-title();
                    padding-left: 0;
            }
            p {
                @include paragraph-text();
                padding-top: 0;
                    padding-left: 0;
                padding-right: 1rem;
                padding-bottom: 0;
                flex-grow: 2;
            }
            @include background-swipe();
            a {
                margin-right: auto;
                    padding: .5rem 0;
                text-decoration: none;
                color: $dark-gray-color;
            }
            a:visited {
                color: $dark-gray-color;
            }
            a:hover {
                color: $white-color;
            }
        }
        img {
            float: right;
            min-width: 240px;
            height: 240px;
            object-fit: cover;
            padding-top: 1rem;
        }
    }
}

.read-more-container {
    @include background-swipe();
    #read-more-tag {
    position: relative;
    color: $dark-gray-color;
    }
}
#read-more-tag {
    font-size: 1.5rem;
    text-decoration: none;
}
#read-more-tag:visited {
    color: $dark-gray-color;
}
#read-more-tag:hover {
    color: $white-color;
}

/* Contact page styling */

.contact-details-container {
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        input {
            @include paragraph-text();
            width: 20rem;
            margin-bottom: 1rem;
            padding: .5rem;
            border-radius: 10px;
            border: 1px solid $light-gray-color;
        }
        textarea {
            @include paragraph-text();
            width: 20rem;
            padding: .5rem;
            resize: none;
            border-radius: 10px;
            border: 1px solid $light-gray-color;
        }
        .button {
            text-align: center;
            margin-top: 1rem;
            width: 10rem;
            transition: .5s;
        }
        .button:hover {
            background-color: $primary-color;
            color: $white-color;
            cursor: pointer;
            border-color: $white-color;
        }
    }
}

.icon-container {
    display: flex;
    justify-content: space-between;
    width: 20rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3rem;
    a {
        i {
            color: $dark-gray-color;
            transition: 0.5s;
        }
        i:hover {
            color: $primary-color;
        }
    }
}

/*Media Breakpoints*/
@media (max-width: 1200px) { 
    .container {
        section {
            width: 800px;
        }
    }
}

@media (max-width: 1024px) {
    .container{
        section {
            width: 600px;
            span {
                padding: 3rem 2rem 0 2rem;
                a {
                    padding: 0;
                }
            }
        }
    }
    .projects-posts {
        li{
            flex-direction: column;
            height: 32rem;
            div {
                h4 {
                    padding-left: 0;
                    padding-top: 1rem;
                }
                p {
                    padding-left: 0;
                }
                a {
                    padding-left: 0;
                    margin-left: 0;
                    margin-top: 1rem;
                    margin-bottom: 1rem;
                }
            }
        }   
    }
    .blog-posts {
        li {
            max-height: 35rem;
            div {
                p {
                    padding-right: 0;
                }
                a { 
                    margin-top: 1rem;
                }
            }
            img {
                width: 100%;
            }
        }
    }
    #landing-full {
        #landing-left {
            align-items: center;
            h1 {
                writing-mode: vertical-rl;
                padding-top: 4rem;
                font-size: 10rem;
            }
        }
    }
}

@media (max-width: 480px) {
    .header-outer-container {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .nav-container {
        a {
            font-size: 1rem;
        }
    }
    #landing-full {
        #landing-left {
            align-items: center;
            h1 {
                writing-mode: vertical-rl;
                padding-top: 4rem;
                font-size: 7rem;
            }
        }
    }
    .container {
        padding-left: 2rem;
        padding-right: 2rem;
        section {
            width: 300px;
            span {
                padding: 3rem 2rem 0 2rem;
                a {
                    padding: 0;
                }
            }
        }
        p {
            padding: 3rem 1rem;
            font-size: 1.2rem;
        }
    }
    .projects-posts {
        li{
            flex-direction: column;
            height: 32rem;
            div {
                h4 {
                    padding-left: 0;
                    padding-top: 1rem;
                }
                p {
                    padding-left: 0;
                }
                a {
                    padding-left: 0;
                    margin-left: 0;
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                }
            }
        }   
    }
    .blog-posts {
        li {
            max-height: 35rem;
            div {
                p {
                    padding-right: 0;
                }
                a { 
                    padding-top: 1rem;
                }
            }
            img {
                width: 100%;
            }
        }

    }
  }

/*Copyright footer styling*/

.copyright-footer {
    margin-top: 5rem;
    text-align: center;
    color: $light-gray-color;
}