/*SASS variables - Colours and fonts*/

$light-gray-color: rgb(200, 200, 200);
$dark-gray-color: rgb(85, 85, 85);
$white-color: white;
$primary-color: #93CAED;
$secondary-color: #EDB693;
$primary-font: 'Arsenal', sans-serif;

/*SASS mixins*/

/*Content sizes for containers mixin*/
@mixin content-sizes {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 4rem;
    padding-right: 4rem;
}

/*Large Paragraph Text mixin*/
@mixin large-paragraph-text {
    padding: 3rem 6rem;
    font-size: 1.5rem;
    text-align: center;
    color: $dark-gray-color;
}

/*Normal Paragraph Text mixin*/
@mixin paragraph-text {
    font-family: $primary-font;
    font-size: 1rem;
    margin: 0;
    text-align: left;
}

/*Page Titles mixin*/
@mixin page-title {
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
    font-size: 2.5rem;
}

/*Sub Titles mixin*/
@mixin sub-title {
    font-size: 1.5rem;
    padding: 0 1rem 1rem 1rem;
    margin: 0;
    color: $dark-gray-color;
}

/*Background swipe animater effect for anchor tags mixin*/
@mixin background-swipe {
    a {
        transition: color 0.4s ease;
        position: relative;
    }
    a::before {
        transform: scaleX(0);
        transform-origin: bottom right;
    }
    a:hover::before {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
    a::before {
        content: " ";
        display: block;
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        inset: 0 0 0 0;
        background: $primary-color;
        z-index: -1;
        transition: transform .4s ease;
    }
}

/*HTML Body reset, also sets the document font, and smooth scrolling*/
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    font-family: $primary-font;
    scroll-behavior: smooth;
}

/*Navbar Styling */

/*Outer container styling*/
.header-outer-container {
    @include content-sizes();
    height: 60px;
}

/*Navbar component styling*/
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    div {
        @include background-swipe();
        a {
            padding: .5rem .7rem;
            text-decoration: none;
            position: relative;
            font-size: 1.2rem;
            color: $dark-gray-color;
        }
        a:visited {
            color: $dark-gray-color;
        }            
        a:hover {
            color: $white-color;
        }
    }
}

/*Navbar name logo styling*/
#name-logo {
    font-family: 'Covered By Your Grace', cursive;
    font-size: 2.5rem;
    padding: 2px 10px;
    text-decoration: none;
    transition: .5s;
    color: $dark-gray-color;
}
#name-logo:visited {
    color: $dark-gray-color;
}
#name-logo:hover {
    color: $primary-color;
    transform: scale(1.2);
}


/*Index landing component styling */
#landing-full {
    display: flex;
    height: 100vh;
    position: relative;
    /*Landing left side styling*/
    #landing-left {
        height: 100vh;
        width: 40vw;
        background-color: $white-color;
        display: block;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        text-align: right;
        padding-right: 3rem;
        #links-title-container {
            /*Landing nav links styling*/
            #landing-links {
                display: flex;
                flex-direction: column;
                padding-bottom: 3rem;
                @include background-swipe();
                a {
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                    text-decoration: none;
                    font-size: 1.5rem;
                    z-index: 1;
                    padding-left: 3rem;
                    color: $dark-gray-color;
                    font-family: $primary-font;
                }
                a:visited {
                    color: $dark-gray-color;
                }
                a:hover {
                    color: $white-color;
                }
            }
        }
        h2 {
            font-size: 1.2rem;
            color: black;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    /*Landing right side styling*/
    #landing-right {
        height: 100vh;
        width: 70vw;
        background-image: url("../resources/img/curve.jpg");
        background-size: cover;
        background-position: center;
        div {        
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: center;
            align-items: flex-start;
            h1 {
                font-size: 13rem;
                margin: 0;
                color: $primary-color;
                font-weight: 400;
                font-family: 'Covered By Your Grace', cursive;
                margin-top: -5rem;
            }
        }
    }
}

/*Landing Portrait Styling*/
#portrait-container {
    display: flex;
    position: relative;
    width: 100%;
    height: 20rem;
    justify-content: flex-end;
    align-items: center;
}
#icon-cover {
    width: 200px;
    height: 200px;
    background-image: url("../resources/img/Justin-square.jpg");
    background-position: center;
    background-size: 200px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px $white-color;
    overflow: hidden;
}

/*Contact my anchor tag styling*/
#contact-me-container {
    @include background-swipe();
    #contact-me {
        color: $dark-gray-color;
        padding: 0;
        font-weight: 700;
    }
    #contact-me:visited {
        color: $dark-gray-color;
    }
    #contact-me:hover {
        color: $white-color;
    }
}


/*Inline text span colour styling*/
.text-highlight {
    color: $dark-gray-color;
    font-weight: 700;
}

/*Typical container for pages including the About-me section, blog, project and contact pages*/
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include content-sizes();
    h1 {
        @include page-title();
    }
    h2 {
        padding-top: 4rem;
        text-align: center;
        color: $dark-gray-color;
        font-family: $primary-font;
        font-size: 2rem;
    }
    p {        
        @include large-paragraph-text();
        padding-top: 0;
        padding-bottom: 5rem;
    }
}

#about-me-text {
    padding-bottom: 0;
}

/*Index html images container styling*/
#landing-images-container {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    justify-content: center;
    margin: auto auto;
    a {
        width: 15rem;
        height: 15rem;
        overflow: hidden;
        padding: 1rem;
        img {
            width: 15rem;
            height: 15rem;
            object-fit: cover;
        }
    }
}

/*Index html Contact me container styling*/
#contact-me-container {
    display: flex;
    justify-content: center;
    span {
        @include large-paragraph-text();
        padding-top: 7rem;
        padding-bottom: 2rem;
    }   
}

/*Skill bar component styling*/

#skills-container {
    display: block;
    width: 100%;
    padding-bottom: 8rem;
    .skill-bar-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 5rem;
        width: 100%;
        h3 {
            width: 4rem;
            text-align: right;
            padding-right: 1rem;
        }
        .skill-bar {
            width: 60%;
            height: 1rem;
            background-color: rgb(204, 204, 204);
            border-radius: 5px;
            #skill-bar-fill-html {
                background-color: #CCE2CB;
                height: 100%;
                width: 80%;
                border-radius: 5px;
            }
            #skill-bar-fill-css {
                background-color: $secondary-color;
                height: 100%;
                width: 70%;
                border-radius: 5px;
            }
            #skill-bar-fill-js {
                background-color: #F3B0C3;
                height: 100%;
                width: 30%;
                border-radius: 5px;
            }
            #skill-bar-fill-ruby {
                background-color: $primary-color;
                height: 100%;
                width: 20%;
                border-radius: 5px;
            }
            #skill-bar-fill-react {
                background-color: #FFFFB5;
                height: 100%;
                width: 25%;
                border-radius: 5px;
            }
        }
    }
}

/*Projects posts styling*/
.projects-posts {
    padding-left: 0;
    border-bottom: 1px solid $light-gray-color;
    li{
        display: flex;
        list-style: none;
        height: 15rem;
        padding-bottom: 3rem;
        padding-top: 3rem;
        border-top: 1px solid $light-gray-color;
        time {
            font-size: 1.5rem;
            color: $primary-color;
            min-width: 3rem;
        }
        div {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h2 {
                @include sub-title();
                text-align: left;
            }
            p {
                @include paragraph-text();
                padding-top: 0;
                padding-left: 1rem;
                padding-right: 1rem;
                padding-bottom: 0;
                flex-grow: 2;
            }
            @include background-swipe();
            a {
                margin-left: .5rem;
                margin-right: auto;
                padding: .5rem;
                text-decoration: none;
                color: $dark-gray-color;
            }
            a:visited {
                color: $dark-gray-color;
            }
            a:hover {
                color: $white-color;
            }
        }
        img {
            float: right;
            min-width: 240px;
            height: 240px;
            object-fit: cover;
        }
    }
}

/* Blog posts styling */
.blog-posts {
    padding-left: 0;
    border-bottom: 1px solid $light-gray-color;
    li{
        display: flex;
        list-style: none;
        max-height: 30rem;
        padding-bottom: 3rem;
        border-top: 1px solid $light-gray-color;
        time {
            font-size: 1.5rem;
            color: $primary-color;
            min-width: 3rem;
            padding: 3rem 0 1rem 0;
        }
        div {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h2 {
                @include sub-title();
                padding-left: 0;
                text-align: left;
            }
            p {
                @include paragraph-text();
                padding-top: 0;
                padding-left: 0;
                padding-right: 1rem;
                padding-bottom: 0;
                flex-grow: 2;
                // overflow: hidden;
            }
            @include background-swipe();
            a {
                margin-right: auto;
                padding: .5rem 0;
                text-decoration: none;
                color: $dark-gray-color;
            }
            a:visited {
                color: $dark-gray-color;
            }
            a:hover {
                color: $white-color;
            }
        }
        img {
            float: right;
            min-width: 240px;
            height: 240px;
            object-fit: cover;
            padding-top: 1rem;
        }
    }
}
/*Read more blog posts component styling*/
.read-more-container {
    @include background-swipe();
    #read-more-tag {
    position: relative;
    color: $dark-gray-color;
    }
}
#read-more-tag {
    font-size: 1.5rem;
    text-decoration: none;
}
#read-more-tag:visited {
    color: $dark-gray-color;
}
#read-more-tag:hover {
    color: $white-color;
}


/* Contact form component styling */
.contact-details-container {
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        input {
            @include paragraph-text();
            width: 20rem;
            margin-bottom: 1rem;
            padding: .5rem;
            border-radius: 10px;
            border: 1px solid $light-gray-color;
        }
        textarea {
            @include paragraph-text();
            width: 20rem;
            padding: .5rem;
            resize: none;
            border-radius: 10px;
            border: 1px solid $light-gray-color;
        }
        .button {
            text-align: center;
            margin-top: 1rem;
            width: 10rem;
            transition: .5s;
        }
        .button:hover {
            background-color: $primary-color;
            color: $white-color;
            cursor: pointer;
            border-color: $white-color;
        }
    }
}

// Clickable Socials Icon Component Styling
.icon-container {
    display: flex;
    justify-content: space-between;
    width: 20rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3rem;
    a {
        i {
            color: $dark-gray-color;
            transition: 0.5s;
        }
        i:hover {
            color: $primary-color;
            transform: scale(1.2);
        }
    }
}

/*Media Breakpoints - Responsive Design*/
@media (max-width: 1200px) { 
    .container {
        #landing-images-container {
            width: 800px;
        }
    }
}
@media (max-width: 1024px) {
    .container{
        #landing-images-container {
            width: 600px;
        }
        div {
            span {
                padding: 3rem 2rem 0 2rem;
                a {
                    padding: 0;
                }
            }
        }
    }
    #icon-cover {
    top: 15%;
    right: 20%;
    }
    .projects-posts {
        li{
            flex-direction: column;
            height: 32rem;
            div {
                h2 {
                    padding-left: 0;
                    padding-top: 1rem;
                }
                p {
                    padding-left: 0;
                }
                a {
                    padding-left: 0;
                    margin-left: 0;
                    margin-top: 1rem;
                    margin-bottom: 1rem;
                }
            }
        }   
    }
    .blog-posts {
        li {
            max-height: 35rem;
            div {
                p {
                    padding-right: 0;
                }
                a { 
                    margin-top: 1rem;
                }
            }
            img {
                width: 100%;
            }
        }
    }
    #landing-full {
        #landing-left {
            // align-items: center;
            width: 30vw;
            padding-right: 1rem;
        }
        #landing-right {
            width: 70vw;
            div {
                padding-top: 0;
                h1 {
                    font-size: 11rem;
                }
            } 
        }
    }
}
@media (max-width: 700px) {
    .header-outer-container {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .nav-container {
        a {
            font-size: 1rem;
        }
    }
    #landing-full {
        #landing-left {
            width: 30vw;
            #links-title-container {
                #landing-links {
                    a {
                        font-size: 1.2rem;
                        padding-top: 0;
                    }
                }
                
            }
            h2 {
                font-size: 1rem;
            }
        }
        #landing-right {
            width: 70vw;
            div {
                padding-top: 1rem;
                h1 {
                    font-size: 6rem;
                    padding-top: 2rem;
                    color: $white-color;
                }
            }
        }
    }
    #portrait-container {
        width: 200px;
        padding-left: 20px;
    }
    #icon-cover {
        width: 150px;
        height: 150px;
    }
    .container {
        padding-left: 2rem;
        padding-right: 2rem;
        #landing-images-container {
            width: 300px;
        }
        div {
            span {
                padding: 3rem 2rem 0 2rem;
                a {
                    padding: 0;
                }
            }
        }
        p {
            padding: 1rem 1rem;
            font-size: 1.2rem;
        }
    }
    .projects-posts {
        li{
            flex-direction: column;
            height: 32rem;
            div {
                h2 {
                    padding-left: 0;
                    padding-top: 1rem;
                }
                p {
                    padding-left: 0;
                }
                a {
                    padding-left: 0;
                    margin-left: 0;
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                }
            }
        }   
    }
    .blog-posts {
        li {
            max-height: 35rem;
            div {
                p {
                    padding-right: 0;
                }
                a { 
                    padding-top: 1rem;
                }
            }
            img {
                width: 100%;
            }
        }

    }
  }

/*Copyright footer component styling*/
.copyright-footer {
    margin-top: 5rem;
    text-align: center;
    color: $dark-gray-color;
}