/*Colours and fonts*/
/*SASS mixins*/
/*HTML reset*/
html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: "Arsenal", sans-serif;
  scroll-behavior: smooth; }

/* Navbar settings */
.header-outer-container {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 4rem;
  padding-right: 4rem;
  height: 60px; }

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%; }
  .nav-container a {
    padding: .5rem .7rem;
    text-decoration: none;
    position: relative;
    font-size: 1.2rem; }
  .nav-container a:visited {
    color: #969696; }
  .nav-container a:hover {
    color: white; }
  .nav-container a {
    transition: color 0.4s ease;
    position: relative; }
  .nav-container a::before {
    transform: scaleX(0);
    transform-origin: bottom right; }
  .nav-container a:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left; }
  .nav-container a::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    inset: 0 0 0 0;
    background: #93CAED;
    z-index: -1;
    transition: transform .4s ease; }

#name-logo {
  font-family: 'Covered By Your Grace', cursive;
  font-size: 2rem;
  padding: 2px 10px; }

/* Settings for landing headings */
#landing-full {
  display: flex;
  height: 100vh; }
  #landing-full #landing-left {
    height: 100vh;
    width: 30vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end; }
    #landing-full #landing-left h1 {
      font-size: 7rem;
      margin: 0;
      margin-right: 1rem;
      color: #c8c8c8;
      font-weight: 400;
      font-family: 'Covered By Your Grace', cursive;
      margin-top: -2rem; }
  #landing-full #landing-right {
    height: 100vh;
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("../resources/img/wave.jpg");
    background-size: cover;
    background-position: center; }
    #landing-full #landing-right h2 {
      font-size: 1.6rem;
      margin: 0;
      padding-top: 20rem;
      color: #969696; }
    #landing-full #landing-right #landing-links {
      display: flex;
      flex-direction: column;
      padding-top: 1rem; }
      #landing-full #landing-right #landing-links a {
        transition: color 0.4s ease;
        position: relative; }
      #landing-full #landing-right #landing-links a::before {
        transform: scaleX(0);
        transform-origin: bottom right; }
      #landing-full #landing-right #landing-links a:hover::before {
        transform: scaleX(1);
        transform-origin: bottom left; }
      #landing-full #landing-right #landing-links a::before {
        content: " ";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        inset: 0 0 0 0;
        background: #93CAED;
        z-index: -1;
        transition: transform .4s ease; }
      #landing-full #landing-right #landing-links a {
        padding-top: .25rem;
        padding-bottom: .25rem;
        text-decoration: none;
        font-size: 1.2rem;
        z-index: 1;
        padding-right: 1rem; }
      #landing-full #landing-right #landing-links a:visited {
        color: #969696; }
      #landing-full #landing-right #landing-links a:hover {
        color: white; }

#contact-me {
  text-decoration: none;
  color: #93CAED; }

/*Index - About me styling*/
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 4rem;
  padding-right: 4rem; }
  .container h1 {
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
    font-size: 2.5rem; }
  .container p {
    padding: 3rem 6rem;
    font-size: 1.5rem;
    text-align: center;
    color: #969696;
    padding-top: 6rem;
    padding-bottom: 6rem; }
  .container section {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    justify-content: center;
    margin-right: auto;
    margin-left: auto; }
    .container section img {
      width: 10rem;
      height: 10rem;
      margin: 1rem; }
    .container section span {
      padding: 3rem 6rem;
      font-size: 1.5rem;
      text-align: center;
      color: #969696;
      padding-top: 7rem;
      padding-bottom: 2rem; }

/* Blog posts styling */
.blog-posts {
  padding-left: 0;
  border-bottom: 1px solid #c8c8c8; }
  .blog-posts li {
    display: flex;
    list-style: none;
    max-height: 30rem;
    padding-bottom: 3rem;
    border-top: 1px solid #c8c8c8; }
    .blog-posts li time {
      font-size: 1.5rem;
      color: #93CAED;
      min-width: 3rem;
      padding: 3rem 0 1rem 0; }
    .blog-posts li div {
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .blog-posts li div h4 {
        font-size: 1.5rem;
        padding: 0 1rem 1rem 1rem;
        margin: 0;
        color: #969696;
        padding-left: 0; }
      .blog-posts li div p {
        font-family: "Arsenal", sans-serif;
        font-size: 1rem;
        margin: 0;
        text-align: left;
        padding-top: 0;
        padding-left: 0;
        padding-right: 1rem;
        padding-bottom: 0;
        flex-grow: 2; }
      .blog-posts li div a {
        transition: color 0.4s ease;
        position: relative; }
      .blog-posts li div a::before {
        transform: scaleX(0);
        transform-origin: bottom right; }
      .blog-posts li div a:hover::before {
        transform: scaleX(1);
        transform-origin: bottom left; }
      .blog-posts li div a::before {
        content: " ";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        inset: 0 0 0 0;
        background: #93CAED;
        z-index: -1;
        transition: transform .4s ease; }
      .blog-posts li div a {
        margin-right: auto;
        padding: .5rem 0;
        text-decoration: none;
        color: #969696; }
      .blog-posts li div a:visited {
        color: #969696; }
      .blog-posts li div a:hover {
        color: white; }
    .blog-posts li img {
      float: right;
      min-width: 240px;
      height: 240px;
      object-fit: cover;
      padding-top: 1rem; }

.read-more-container a {
  transition: color 0.4s ease;
  position: relative; }
.read-more-container a::before {
  transform: scaleX(0);
  transform-origin: bottom right; }
.read-more-container a:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left; }
.read-more-container a::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background: #93CAED;
  z-index: -1;
  transition: transform .4s ease; }
.read-more-container #read-more-tag {
  position: relative;
  color: #969696; }

#read-more-tag:hover {
  color: white; }

#read-more-tag {
  font-size: 1.5rem;
  text-decoration: none; }

#read-more-tag:visited {
  color: #969696; }

/* Contact page styling */
.contact-details-container form {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .contact-details-container form input {
    font-family: "Arsenal", sans-serif;
    font-size: 1rem;
    margin: 0;
    text-align: left;
    width: 20rem;
    margin-bottom: 1rem;
    padding: .5rem;
    border-radius: 10px;
    border: 1px solid #c8c8c8; }
  .contact-details-container form textarea {
    font-family: "Arsenal", sans-serif;
    font-size: 1rem;
    margin: 0;
    text-align: left;
    width: 20rem;
    padding: .5rem;
    resize: none;
    border-radius: 10px;
    border: 1px solid #c8c8c8; }
  .contact-details-container form .button {
    text-align: center;
    margin-top: 1rem;
    width: 10rem;
    transition: .5s; }
  .contact-details-container form .button:hover {
    background-color: #93CAED;
    color: white;
    cursor: pointer;
    border-color: white; }

.icon-container {
  display: flex;
  justify-content: space-between;
  width: 20rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3rem; }
  .icon-container a i {
    color: #969696;
    transition: 0.5s; }
  .icon-container a i:hover {
    color: #93CAED; }

/*Recent Projects styling*/
.projects-posts {
  padding-left: 0;
  border-bottom: 1px solid #c8c8c8; }
  .projects-posts li {
    display: flex;
    list-style: none;
    height: 15rem;
    padding-bottom: 3rem;
    padding-top: 3rem;
    border-top: 1px solid #c8c8c8; }
    .projects-posts li time {
      font-size: 1.5rem;
      color: #93CAED;
      min-width: 3rem; }
    .projects-posts li div {
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .projects-posts li div h4 {
        font-size: 1.5rem;
        padding: 0 1rem 1rem 1rem;
        margin: 0;
        color: #969696; }
      .projects-posts li div p {
        font-family: "Arsenal", sans-serif;
        font-size: 1rem;
        margin: 0;
        text-align: left;
        padding-top: 0;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 0;
        flex-grow: 2; }
      .projects-posts li div a {
        transition: color 0.4s ease;
        position: relative; }
      .projects-posts li div a::before {
        transform: scaleX(0);
        transform-origin: bottom right; }
      .projects-posts li div a:hover::before {
        transform: scaleX(1);
        transform-origin: bottom left; }
      .projects-posts li div a::before {
        content: " ";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        inset: 0 0 0 0;
        background: #93CAED;
        z-index: -1;
        transition: transform .4s ease; }
      .projects-posts li div a {
        margin-left: .5rem;
        margin-right: auto;
        padding: .5rem;
        text-decoration: none;
        color: #969696; }
      .projects-posts li div a:visited {
        color: #969696; }
      .projects-posts li div a:hover {
        color: white; }
    .projects-posts li img {
      float: right;
      min-width: 240px;
      height: 240px;
      object-fit: cover; }

/*Media Breakpoints*/
@media (min-width: 1200px) {
  .container section {
    width: 700px; } }
@media (max-width: 800px) {
  .container section {
    width: 400px; } }
@media (max-width: 400px) {
  .container section {
    width: 200px; } }
/*Copyright footer styling*/
.copyright-footer {
  margin-top: 5rem;
  text-align: center;
  color: #c8c8c8; }

/*# sourceMappingURL=styles.css.map */
