/*Colours and fonts*/

$light-gray-color: rgb(200, 200, 200);
$dark-gray-color: rgb(150, 150, 150);
$white-color: white;
$primary-font: 'Arsenal', sans-serif;

/*SASS mixins*/

@mixin content-sizes {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 4rem;
    padding-right: 4rem;
}

@mixin large-text {
    padding: 3rem 6rem;
    font-size: 1.5rem;
    text-align: center;
    color: $dark-gray-color;
}

/*HTML reset*/

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    font-family: $primary-font;
    scroll-behavior: smooth;
}

/* Navbar settings */

.header-outer-container {
    @include content-sizes();
    height: 60px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    a {
        padding: .5rem;
        text-decoration: none;
        position: relative;
    }
    a:visited {
        color: $dark-gray-color;
    }

    /* hover color block effect on anchor tags */

    a::before {
        transform: scaleX(0);
        transform-origin: bottom right;
    }

    a:hover::before {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    a:hover {
        color: $white-color;
    }

    a::before {
        content: " ";
        display: block;
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        inset: 0 0 0 0;
        background: $dark-gray-color;
        z-index: -1;
        transition: transform .4s ease;
    }
}

/* Settings for landing headings */

#landing-full {
    display: flex;
    height: 100vh;
    #landing-left {
        height: 100vh;
        width: 50vw;
        background-color: $white-color;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        h1 {
            font-size: 5rem;
            margin: 0;
            margin-right: -3px;
            color: $light-gray-color;
            font-weight: 400;
        }
    }
    #landing-right {
        height: 100vh;
        width: 50vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-image: url("../resources/img/wave.jpg");
        background-size: cover;
        background-position: center;
        h2 {
            font-size: 1.5rem;
            margin: 0;
            padding-top: 19rem;
            color: $dark-gray-color;
        }
        #landing-links{
            display: flex;
            flex-direction: column;
            padding-top: 1rem;
            a {
                padding-top: .5rem;
                text-decoration: none;
                color: $dark-gray-color;
                font-size: 1rem;
            }
            a:visited {
                color: $dark-gray-color;
            }
        }
    }
}

/*Index - About me styling*/

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include content-sizes();
    p {
        @include large-text();
    }
    section {
        display: flex;
        flex-wrap: wrap;
        width: 700px;
        justify-content: center;
        margin-right: auto;
        margin-left: auto;
        img {
            width: 10rem;
            height: 10rem;
            padding: 10px;
        }
        span {
                @include large-text();
        }
    }


    /*Recent Projects styling*/

    main {
        border-bottom: 1px solid $light-gray-color;
        ul{
            padding-left: 0;
            li{
                display: flex;
                list-style: none;
                height: 15rem;
                // overflow: hidden;
                padding-bottom: 3rem;
                padding-top: 3rem;
                border-top: 1px solid $light-gray-color;
                time {
                    font-size: 1.5rem;
                }
                div {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    h4 {
                        font-size: 1.5rem;
                        padding: 0 1rem 1rem 1rem;
                        margin: 0;
                    }
                    p {
                        font-size: 1rem;
                        padding-top: 0;
                        padding-left: 1rem;
                        padding-right: 1rem;
                        padding-bottom: 0;
                        margin: 0;
                        text-align: left;
                        flex-grow: 2;
                    }
                    a {
                        padding: 1rem 1rem 0 1rem;
                    }
                    a:visited {
                        color: $dark-gray-color;
                    }
                }
                        img {
                            float: right;
                            min-width: 240px;
                            height: 240px;
                            object-fit: cover;
                        }
                    
                
            }
        }
    }
}

/*Media Breakpoints*/
@media (min-width: 1200px) {
    .container{
        section {
            width: 700px;
        }
    }
}

@media (max-width: 800px) {
    .container{
        section {
            width: 400px;
        }
    }
}

@media (max-width: 400px) {
    .container{
        section {
            width: 200px;
        }
    }
}


/*Copyright footer styling*/

.copyright-footer {
    margin: 1rem 3rem;
    text-align: center;
    color: $light-gray-color;
}

#contact-form {
    display: flexbox;
    color: red;
    margin: 3rem;
    padding: 3rem;
    border: 1px solid black;
}