html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: "Arsenal", sans-serif;
  scroll-behavior: smooth; }

/* Navbar settings */
body header {
  height: 60px; }

.header-outer-container {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 3em;
  padding-right: 3em;
  height: 100%; }

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  /* hover color block effect on anchor tags */ }
  .nav-container a {
    padding: .5rem;
    text-decoration: none;
    position: relative; }
  .nav-container a:visited {
    color: black; }
  .nav-container a::before {
    transform: scaleX(0);
    transform-origin: bottom right; }
  .nav-container a:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left; }
  .nav-container a:hover {
    color: white; }
  .nav-container a::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    inset: 0 0 0 0;
    background: grey;
    z-index: -1;
    transition: transform .4s ease; }

/* Settings for landing headings */
#landing-full {
  display: flex;
  height: 100vh; }
  #landing-full #landing-left {
    height: 100vh;
    width: 50vw;
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end; }
    #landing-full #landing-left h1 {
      font-size: 5rem;
      margin: 0;
      margin-right: -3px;
      color: white;
      font-weight: 400; }
  #landing-full #landing-right {
    height: 100vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("../resources/img/wave.jpg");
    background-size: cover;
    background-position: center; }
    #landing-full #landing-right h2 {
      font-size: 1.5rem;
      margin: 0;
      padding-top: 12em; }
    #landing-full #landing-right #landing-links {
      display: flex;
      flex-direction: column;
      padding-top: 1rem; }
      #landing-full #landing-right #landing-links a {
        padding-top: .5rem;
        text-decoration: none; }
      #landing-full #landing-right #landing-links a:visited {
        color: black; }

.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .landing-container p {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 3em;
    padding-right: 3em;
    padding: 1rem 6rem; }
  .landing-container section {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    justify-content: center;
    margin-right: auto;
    margin-left: auto; }
    .landing-container section img {
      width: 10rem;
      height: 10rem;
      padding: 10px; }

@media (min-width: 1200px) {
  .landing-container section {
    width: 700px; } }
@media (max-width: 800px) {
  .landing-container section {
    width: 400px; } }
@media (max-width: 400px) {
  .landing-container section {
    width: 200px; } }
.copyright-footer {
  margin: 1rem 3rem;
  padding: 1rem 3rem; }

#contact-form {
  display: flexbox;
  color: red;
  margin: 3rem;
  padding: 3rem;
  border: 1px solid black; }

/*# sourceMappingURL=styles.css.map */
